@charset "UTF-8";

html {
    font-size: 100%; /* fontが基本設定の大きさになる */
    background-color: forestgreen;
    color: white; /* 文字の色 */
    text-align: center;
    font-family: "Poetsen One", sans-serif; /* 英語と日本語のフォント */
    font-weight: 400;
    font-style: normal; /* 筆記体などの設定 */
}

/* =====================================================
    header
======================================================== */

header {
    display: flex; /* 横並び */
    justify-content: space-between; /* 要素を左右端に */
    padding-inline: 1rem;
    position: fixed; /* 上部に固定 */
    opacity: 0.8; /* 透明度 */
    width: 100vw;
}

/* ロゴ */
#top-logo {
    padding-top: 0.5rem;
    font-size: 2rem;
}

/* welcome!! */
#top-comment {
    font-size: 5rem;
    margin: 0rem 0rem 1rem 0rem;
    padding-top: 20rem;
}

/* welcom!!の下に表示してる名前 */
#top-name {
    font-size: 1.5rem;
}

/* =====================================================
    section
======================================================== */

/* scroll-snapの囲み */
.scroll-snap-container {
    overflow: auto;
    scroll-snap-type: y mandatory;
    height: 100vh;
}

section, footer{
    scroll-snap-align: start; /* scroll-snapを効かせてる */
}

section {
    height: 100vh; 
}

/* 一番上のセクション */
#section-top {
    background-image: linear-gradient(greenyellow, green);
    height: 100vh;
}

/* セクションのタイトル */
.section-title {
    padding-top: 1rem;
    font-size: 3rem;
}

/* =====================================================
    footer
======================================================== */

footer {
    background-color: green;
}

/* リンクのアイコン */
.link-icon {
    font-size: 2rem;
    padding-top: 1rem;
    margin: 0rem 1rem 1rem 1rem;
}

/* コピーライト */
#copyright {
    padding-bottom: 1rem;
}

/* =====================================================
    ハンバーガーメニューのアイコン
======================================================== */

/* チェックボックスの消去(見た目) */
.checkbox-hidden {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
#drawer-open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上にする */
    cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
#drawer-open span,
#drawer-open span:before,
#drawer-open span:after {
    content: '';
    display: block;
    height: 7px; /* 線の太さ */
    width: 40px; /* 線の長さ */
    border-radius: 3px;
    background: white; /* 線の色 */
    transition: 0.5s;
    position: absolute;
}

/* 三本線の一番上の棒の位置調整 */
#drawer-open span:before {
    bottom: 12px;
}

/* 三本線の一番下の棒の位置調整 */
#drawer-open span:after {
    top: 12px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-input:checked ~ #drawer-open span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-input:checked ~ #drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
}
#drawer-input:checked ~ #drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
}

/* =====================================================
    ハンバーガーメニューの中身
======================================================== */

/* 閉じてるときのハンバーガーメニュー */
#nav-container {
    height: 50%;
    position: fixed;
    top: 0.5%;
    left: 100%; /*メニューを画面外に飛ばす*/
    width: 0; /* メニューを閉じる */
    z-index: 99;
    transition: .5s;
    border-radius: 10%;
    scroll-behavior: smooth;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-input:checked ~ #nav-container {
    left: 80%; /* メニューを画面内に入れる */
    width: 20%; /* メニューを開く */
}

/* ハンバーガーメニューの中身 */
#nav-list { /* リスト本体 */
    list-style: none; /* メニュー黒ポチを消す */
    margin-top: 50px;
    z-index: 100;
    text-align: right;
}
.nav-item { /* リスト要素 */
    font-size: 2rem;
    border-radius: 20px 0 0 20px;
    background: rgb(0, 66, 0);
    padding-inline: 20% 30%;
    line-height: 1.5;
}

/* =====================================================
    MOBILE SIZE
======================================================== */

@media (max-width: 700px) { /* 横幅が700px以下の場合 */

    /* ロゴ */
    #top-logo {
        font-size: 1.5rem;
    }

    /* welcome!! */
    #top-comment {
        font-size: 3rem;
        margin: 0rem 0rem 0.5rem 0rem;
        padding-top: 15rem;
    }

    /* welcom!!の下に表示してる名前 */
    #top-name {
        font-size: 1rem;
    }

    /* セクションのタイトル */
    .section-title {
        padding-top: 0.5rem;
        font-size: 2rem;
    }

    /* ハンバーガーアイコンの設置スペース */
    #drawer-open {
        height: 55px;
        width: 30px;
    }
}